@model List<Appointment>
@{
    Layout = "_DoctorLayout";
    ViewData["Title"] = "View Appointment";
}

@{
    var waitingList = Model.Where(x => x.DateApproved == null)
                .OrderBy(x => x.DateTime).ToList();
    var approvedList = Model.Where(x => x.DateApproved != null)
                .OrderByDescending(x => x.DateTime).ToList();
}

<div class="container table-responsive">
    <h3>Waiting for Approval</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Date Time</th>
                <th scope="col">Status</th>
                <th scope="col">Patient Id</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Condition Id</th>
                <th scope="col">Condition Name</th>
                <th scope="col">Approve</th>
            </tr>
        </thead>
        <tbody>

            @if (waitingList == null || waitingList.Count == 0)
            {
                <tr>
                    <td colspan="9" class="text-center">No data</td>
                </tr>
            }

            @if (waitingList != null)
                @for (int i = 0; i < waitingList.Count; i++)
                {
                    var appointment = waitingList[i];

                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>@appointment.DateTime</td>
                        <td>@(appointment.DateApproved == null ? "WAITING APPROVAL" : appointment.DateApproved.ToString())</td>
                        <td>@appointment.PatientId</td>
                        <td>@appointment.Patient?.Name</td>
                        <td>@appointment.ConditionId</td>
                        <td>@appointment.Condition?.Name</td>

                        <td>
                            <form method="post">
                                <a class="text-danger" data-toggle="modal" data-target="#approveModal_@appointment.Id">
                                    <span class="material-icons">
                                        create
                                    </span>
                                </a>

                                <div class="modal fade" id="approveModal_@appointment.Id">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Confirm approve?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-danger" asp-action="Approve" asp-controller="Doctor" asp-route-id="@appointment.Id">Yes</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>

                    </tr>

                }
        </tbody>
    </table>
</div>



<div class="container table-responsive mt-5">
    <h3>Approved</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Date Time</th>
                <th scope="col">Date Approved</th>
                <th scope="col">Patient Id</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Condition Id</th>
                <th scope="col">Condition Name</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

            @if (approvedList == null || approvedList.Count == 0)
            {
                <tr>
                    <td colspan="8" class="text-center">No data</td>
                </tr>
            }

            @if (approvedList != null)
                @for (int i = 0; i < approvedList.Count; i++)
                {
                    var appointment = approvedList[i];

                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>@appointment.DateTime</td>
                        <td>@(appointment.DateApproved == null ? "WAITING APPROVAL" : appointment.DateApproved.ToString())</td>
                        <td>@appointment.PatientId</td>
                        <td>@appointment.Patient?.Name</td>
                        <td>@appointment.ConditionId</td>
                        <td>@appointment.Condition?.Name</td>

                        <td>
                            <a class="text-primary">
                                <span>
                                    Approved
                                </span>
                            </a>
                        </td>

                    </tr>
                }
        </tbody>
    </table>
</div>